.login {
    text-align: center;
    &__title {
        margin-bottom: 45px;
    }
    &__inputs {
        display: flex;
        flex-direction: column;
        &-login {
            margin-bottom: 12px;
        }
        &-password {
            margin-bottom: 50px;
        }
    }
}