.input {
    background: #FAFAFA;
    border: 2px solid #1E6FB9;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 17px;
    font-size: 18px;
    background: transparent;
    &.error {
        border-color: red;
    }
}