.order-btn {
    padding: 15px 17px;
    color: #3F3F3F;
    background: #F5F5F5;
    border: none;
    border-radius: 10px;
    border-bottom: 1px solid #D6D6D6;
    width: 100%;
    font-size: 17px;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover {
        background: rgb(101, 125, 230);
        color: #fff;
    }
}