.order-card__header {
    &-title {
        display: flex;
        justify-content: space-between;
        h2 {
            font-size: 35px;
        }
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            span {
                font-size: 9px;
                color: #B1B1B1;
            }
            h4 {
                font-size: 12px;
                font-weight: bold;
            }
        }

    }
    &-progress {
        text-align: center;
        progress {
            max-height: 10px;
        }
        &-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                font-size: 11px;
                margin-top: 8px;
                &:first-child, &:last-child {
                    color: #9E9E9E;
                }
            }
        }
    }
}