.order-card__footer {
  display: flex;
  align-items: center;
  &-date {
    text-align: center;
    background: #1e6fb9;
    border-radius: 4px;
    padding: 27px 17px 35px 17px;
    span {
      color: #fff;
      display: block;
      &:first-child {
        font-size: 11px;
      }
      &:last-child {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  &-info {
    margin-left: 23px;
    h5 {
      font-size: 17px;
      font-weight: bold;
      span {
        color: #1e6fb9;
        display: block;
        font-weight: bold;
        font-size: 17px;
      }
    }
  }
  div {
    margin-top: 9px;
    p {
      &:first-child {
        margin-top: 9px;
        margin-bottom: 3px;
        font-size: 12px;
        line-height: 13px;
      }
      &:last-child {
        font-size: 12px;
        color: #949494;
      }
    }
  }
}
